-server
-Xms{{ druid_coordinator_heap_size }}
-Xmx{{ druid_coordinator_heap_size }}
-XX:+PrintGCDetails 
-XX:+PrintGCDateStamps 
-Xloggc:{{ druid_coordinator_gc_logfile }}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir={{ druid_coordinator_tmp_dir }}
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile={{ druid_path }}conf/druid/{{ service }}/log4j2.xml

