-server
-Xmx{{ druid_middlemanager_heap_size }}
-Xms{{ druid_middlemanager_heap_size }}
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-Xloggc:{{ druid_middlemanager_gc_logdir }}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Djava.io.tmpdir={{ druid_middlemanager_tmp_dir }}
-Dlog4j.configurationFile={{ druid_path }}conf/druid/{{ service }}/log4j2.xml
