*.log
.DS_Store
*.tgz
*.local
*/reports/*
backups/
old_jobs/
logs/
tasks/.bundle/*
tasks/vendor/*
database.yml
.idea
tmp/
kibana-auth/node_modules/
kubernetes/helm_charts/*/values.yaml

# DevOps
*.backup
*.terrahelpbkp
.terraform
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
*.retry
target/
*.iml
**/.settings
dependency-reduced-pom.xml

__pycache__
*.pyc
*.pyo
/pom.xml
/sunbird-data-pipeline.iml
