---
org.ekstep.partner.pratham: "/Users/shashankteotia/Downloads/keys (1)/pkcs8_pratham-private_key.pem"
org.ekstep.partner.akshara: "/Users/shashankteotia/keys/1/genrsa_priv_pkcs.pem"
org.ekstep.partners.akshara: "/Users/shashankteotia/keys/1/genrsa_priv_pkcs.pem"
