-server
-Xms{{ druid_broker_heap_size }}
-Xmx{{ druid_broker_heap_size }}
-XX:MaxDirectMemorySize={{ druid_broker_max_direct_size }}
-XX:+PrintGCDetails
-XX:+UseG1GC
-XX:+PrintGCTimeStamps
-Xloggc:{{ druid_broker_gc_logdir }}
-XX:HeapDumpPath={{ druid_broker_heap_dump_file }}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir={{ druid_broker_tmp_dir }}
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile={{ druid_path }}conf/druid/{{ service }}/log4j2.xml
