{"id":"ekstep.analytics.report.request.submit","ver":"1.0","ts":"{{ ansible_date_time.date }}","params":{"msgid":"{{ 1000 | random | to_uuid }}"},"request":{"reportId":"{{ report_id }}","createdBy":"JenkinsJob","description":"{{ report_description }}","reportSchedule":"{{ report_schedule }}","config": {{ report_config }}}}
