analytics_user: analytics
analytics_group: analytics
analytics_user_home: /home/{{analytics_user}}
sbin_path: "{{ analytics_user_home }}/sbin"
azure_container_name: "{{secor_azure_container_name}}"
azure_account_key: "{{sunbird_private_storage_account_key}}"

telemetry_ingestion_topic: "{{ env }}.telemetry.ingest"

secor:
  properties: ['secor.azure', 'secor.common', 'secor', 'secor.partition', 'log4j']
  artifact_dir: /mount/secor

secor_service_name:
  failed-telemetry-backup:
    consumer_group: "{{ env }}.telemetry.failed.backup"
    base_path: "failed"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.failed"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9997"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Failed Telemetry Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  raw-telemetry-backup:
    consumer_group: "{{ env }}.telemetry.raw.backup"
    base_path: "raw"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.raw"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9994"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Raw Telemetry Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  unique-telemetry-backup:
    consumer_group: "{{ env }}.telemetry.unique.backup"
    base_path: "unique/raw"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.unique"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9993"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{kafkaPartition}-{currentTimestamp}.json"
    service_description: "Unique Telemetry Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  denorm-events-backup:
    consumer_group: "{{ env }}.telemetry.denorm.backup"
    base_path: "telemetry-denormalized"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.denorm"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9990"
    partition_prefix_enabled: "true"
    partition_prefix_key: "eid"
    partition_prefix_mapping: "{\"ME_SESSION_SUMMARY\":\"summary\",\"ME_WORKFLOW_SUMMARY\":\"summary\",\"ME_DEIVCE_SUMMARY\":\"summary\",\"ME_ITEM_SUMMARY\":\"summary\",\"ME_WORKFLOW_USAGE_SUMMARY\":\"summary\",\"ME_ITEM_USAGE_SUMMARY\":\"summary\",\"ME_USAGE_SUMMARY\":\"summary\",\"ME_DIALCODE_USAGE_SUMMARY\":\"summary\",\"DEFAULT\":\"raw\"}"
    output_file_pattern: "{partition}-{kafkaPartition}-{currentTimestamp}.json"
    service_description: "Denormalized Events Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  extractor-failed-backup:
    consumer_group: "{{ env }}.extractor.failed.backup"
    base_path: "extractor-failed"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.extractor.failed"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "21600"
    ostrich_port: "9989"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Extractor failed events backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  assess-raw-events-backup:
    consumer_group: "{{ env }}.telemetry.assess.raw"
    base_path: "telemetry-raw-assess"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.assess.raw"
    kafka_broker_host: "{{groups['processing-cluster-kafka'][0]}}"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "21600"
    ostrich_port: "9986"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Telemetry raw assess events backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  telemetry-ingest-backup:
    consumer_group: "{{ env }}.telemetry.ingest.backup"
    base_path: "ingest-telemetry"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.ingest"
    kafka_broker_host: "{{ ingestion_kafka_brokers }}"
    zookeeper_quorum: "{{ ingestion_zookeepers }}"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9985"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Ingestion cluster Telemetry Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "54"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  telemetry-duplicate-backup:
    consumer_group: "{{ env }}.telemetry.duplicate.backup"
    base_path: "telemetry-duplicate"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.duplicate"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9984"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Telemetry Duplicate Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  extractor-duplicate-backup:
    consumer_group: "{{ env }}.extractor.duplicate.backup"
    base_path: "extractor-duplicate"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.extractor.duplicate"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "14400"
    ostrich_port: "9983"
    partition_prefix_enabled: "false"
    partition_prefix_key: ""
    partition_prefix_mapping: "{}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Telemetry Duplicate Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "50"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
  derived-telemetry-backup:
    consumer_group: "{{ env }}.telemetry.derived.unique.backup"
    base_path: "unique/summary"
    timestamp_key: "syncts"
    fallback_timestamp_key: "@timestamp"
    topic: "{{ env }}.telemetry.derived.unique"
    kafka_broker_host: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
    zookeeper_quorum: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
    max_file_size: "100000000"
    max_file_age: "600"
    ostrich_port: "9982"
    partition_prefix_enabled: "true"
    partition_prefix_key: "eid"
    partition_prefix_mapping: "{\"ME_SESSION_SUMMARY\":\"session_summary\",\"ME_WORKFLOW_SUMMARY\":\"workflow_summary\",\"ME_DEIVCE_SUMMARY\":\"device_summary\",\"ME_ITEM_SUMMARY\":\"item_summary\",\"ME_WORKFLOW_USAGE_SUMMARY\":\"workflow_usage_summary\",\"ME_ITEM_USAGE_SUMMARY\":\"item_usage_summary\",\"ME_USAGE_SUMMARY\":\"usage_summary\",\"ME_DIALCODE_USAGE_SUMMARY\":\"dialcode_usage_summary\",\"DEFAULT\":\"me\"}"
    output_file_pattern: "{partition}-{currentTimestamp}.json"
    service_description: "Derived Telemetry Backup"
    service_monitor_schedule_hr: "23"
    service_monitor_schedule_min: "52"
    message_parser: "com.pinterest.secor.parser.PatternDateMessageParser"
