#!/usr/bin/env bash

export SPARK_HOME={{ analytics.home }}/spark-{{ spark_version }}-bin-hadoop2.7
export MODELS_HOME={{ analytics.home }}/models-{{ model_version }}
export DP_LOGS={{ analytics.home }}/logs/data-products
## Job to run daily
cd {{ analytics.home }}/scripts
source model-config.sh
today=$(date "+%Y-%m-%d")

libs_path="{{ analytics.home }}/models-{{ model_version }}/data-products-1.0"

telemetry_converter_ver=0.0.8

get_report_job_model_name(){
	case "$1" in
		"assessment-dashboard-metrics") echo 'org.sunbird.analytics.job.report.AssessmentMetricsJob'
		;;
		"course-dashboard-metrics") echo 'org.sunbird.analytics.job.report.CourseMetricsJob'
		;;
		"course-enrollment-report") echo 'org.sunbird.analytics.job.report.CourseEnrollmentJob'
		;;
		"course-consumption-report") echo 'org.sunbird.analytics.job.report.CourseConsumptionJob'
		;;
		"admin-geo-reports") echo 'org.sunbird.analytics.job.report.StateAdminGeoReportJob'
		;;
		"etb-metrics") echo 'org.sunbird.analytics.job.report.ETBMetricsJob'
		;;
		"admin-user-reports") echo 'org.sunbird.analytics.job.report.StateAdminReportJob'
		;;
		"textbook-progress-report") echo 'org.sunbird.analytics.job.report.TextbookProgressJob'
        ;;
		*) echo $1
		;;
	esac		
}

if [ ! -z "$1" ]; then job_id=$(get_report_job_model_name $1); fi

if [ -z "$2" ]; then job_config=$(config $1); else job_config="$2"; fi


echo "Starting the job - $1" >> "$DP_LOGS/$today-job-execution.log"

echo "Job modelName - $job_id" >> "$DP_LOGS/$today-job-execution.log"

nohup $SPARK_HOME/bin/spark-submit --master local[*] --jars $(echo ${libs_path}/lib/*.jar | tr ' ' ','),$MODELS_HOME/analytics-framework-2.0.jar,$MODELS_HOME/batch-models-2.0.jar --class org.ekstep.analytics.job.JobExecutor $MODELS_HOME/batch-models-2.0.jar --model "$job_id" --config "$job_config" >> "$DP_LOGS/$today-job-execution.log" 2>&1

echo "Job execution completed - $1" >> "$DP_LOGS/$today-job-execution.log"
