default.parallelization="10"
default.consumption.app.id="no_value"
default.channel.id="in.ekstep"
default.creation.app.id="no_value"
spark.memory_fraction={{ spark.memory_fraction }}
spark.storage_fraction={{ spark.storage_fraction }}
spark.driver_memory="{{ spark.driver_memory }}" 
cloud_storage_type="azure"
metric.producer.id="pipeline.monitoring"
metric.producer.pid="dataproduct.metrics"
push.metrics.kafka=true
metric.kafka.broker="{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
metric.kafka.topic="{{ env }}.telemetry.metrics"

## Reports - Global config
cloud.container.reports="reports"

# course metrics container in azure
course.metrics.cassandra.sunbirdKeyspace="sunbird"
course.metrics.cassandra.sunbirdCoursesKeyspace="sunbird_courses"
course.metrics.cloud.objectKey=""
course.metrics.temp.dir="/mount/data/analytics/course-reports"
course.metrics.cassandra.input.consistency="QUORUM"
es.host="http://{{groups['core-es'][0]}}"
es.port="9200"
course.metrics.es.alias="cbatchstats"
course.metrics.es.index.cbatchstats.prefix="cbatchstats-"
course.metrics.es.index.cbatch="course-batch"

druid = {
    hosts = "{{druid_broker_host}}:8082"
    secure = false
    url = "/druid/v2/"
    datasource = "telemetry-events"
    response-parsing-timeout = 300000
}
druid.rollup.host="{{druid_rollup_broker_host}}"
druid.rollup.port=8082
druid.query.wait.time.mins=1
druid.report.upload.wait.time.mins=1

#Assessment report config
assessment.metrics.temp.dir="/mount/data/analytics/assessment-report"
assessment.metrics.cassandra.input.consistency="QUORUM"
assessment.metrics.cloud.objectKey="assessment-reports/"
assessment.metrics.content.index="compositesearch"
es.scroll.size = 1000
assessment.metrics.es.alias="cbatch-assessment"
assessment.metrics.es.index.prefix="cbatch-assessment-"
course.upload.reports.enabled=true
course.es.index.enabled=true
assessment.metrics.bestscore.report=true // BestScore or Latst Updated Score
assessment.metrics.supported.contenttype="SelfAssess"
spark.sql.caseSensitive=true
es.composite.host="{{groups['composite-search-cluster'][0]}}"