#!/usr/bin/env bash

config() {
	bucket={{ bucket }}
	brokerList={{ brokerlist }}
	topic={{ topic }}
	analyticsMetricsTopic={{ analytics_metrics_topic }}
	sinkTopic={{ sink_topic }}
	currentDate=$(date "+%Y-%m-%d");
	sparkCassandraConnectionHost="{{groups['lp-cassandra'][0]}}"
	sparkRedisConnectionHost={{ metadata2_redis_host }}
	sunbirdPlatformCassandraHost="{{ core_cassandra_host }}"
	sunbirdPlatformElasticsearchHost="{{ sunbird_es_host }}"
	pipelineAuditSlackUser="Pipeline Audit"
	druidBrokerUrl="http://{{druid_broker_host}}:8082/"
	producerEnv="{{ producer_env }}"
	baseScriptPath="{{ spark_output_temp_dir }}"
	reportPostContainer="{{ reports_container }}"
	
	if [ -z "$2" ]; then endDate=$(date --date yesterday "+%Y-%m-%d"); else endDate=$2; fi
	if [ ! -z "$3" ]; then inputBucket=$3; fi
	if [ ! -z "$4" ]; then sinkTopic=$4; fi
	case "$1" in
		"wfs")
		echo '{\"search\":{\"type\":\"azure\",\"queries\":[{\"bucket\":\"'$bucket'\",\"prefix\":\"unique/raw/\",\"endDate\":\"'$endDate'\",\"delta\":0}]},\"model\":\"org.ekstep.analytics.model.WorkflowSummary\",\"modelParams\":{\"apiVersion\":\"v2\", \"parallelization\":200},\"output\":[{\"to\":\"kafka\",\"params\":{\"brokerList\":\"'$brokerList'\",\"topic\":\"'$topic'\"} }],\"parallelization\":200,\"appName\":\"Workflow Summarizer\",\"deviceMapping\":true}'
		#echo '{"search":{"type":"azure","queries":[{"bucket":"'$bucket'","prefix":"unique/","endDate":"'$endDate'","delta":0}]},"model":"org.ekstep.analytics.model.WorkflowSummary","modelParams":{"apiVersion":"v2"},"output":[{"to":"console","params":{"printEvent": false}},{"to":"kafka","params":{"brokerList":"'$brokerList'","topic":"'$topic'"}}],"parallelization":8,"appName":"Workflow Summarizer","deviceMapping":true}'
	   	;;
	   	"course-dashboard-metrics")
		echo '{\"search\": {\"type\": \"none\"},\"model\": \"org.sunbird.analytics.job.report.CourseMetricsJobV2\",\"modelParams\": {\"batchFilters\": [\"TPD\"],\"fromDate\": \"$(date --date yesterday '+%Y-%m-%d')\",\"toDate\": \"$(date --date yesterday '+%Y-%m-%d')\",\"sparkCassandraConnectionHost\": \"'$sunbirdPlatformCassandraHost'\",\"sparkElasticsearchConnectionHost\": \"'$sunbirdPlatformElasticsearchHost'\",\"sparkRedisConnectionHost\": \"'$sparkRedisConnectionHost'\",\"sparkUserDbRedisIndex\": \"12\"},\"output\": [{\"to\": \"console\",\"params\": {\"printEvent\": false} }],\"parallelization\": 8,\"appName\": \"Course Dashboard Metrics\",\"deviceMapping\": false}'
		;;
		"assessment-dashboard-metrics")
		echo '{\"search\": {\"type\": \"none\"},\"model\": \"org.ekstep.analytics.job.AssessmentMetricsJobV2\",\"modelParams\": {\"batchFilters\": [\"TPD\"],\"fromDate\": \"$(date --date yesterday '+%Y-%m-%d')\",\"toDate\": \"$(date --date yesterday '+%Y-%m-%d')\",\"sparkCassandraConnectionHost\": \"'$sunbirdPlatformCassandraHost'\",\"sparkElasticsearchConnectionHost\": \"'$sunbirdPlatformElasticsearchHost'\",\"sparkRedisConnectionHost\": \"'$sparkRedisConnectionHost'\",\"sparkUserDbRedisIndex\": \"12\"},\"output\": [{\"to\": \"console\",\"params\": {\"printEvent\": false} }],\"parallelization\": 8,\"appName\": \"Assessment Dashboard Metrics\",\"deviceMapping\": false}'
		;;
		"userinfo-exhaust")
		echo '{\"search\":{\"type\":\"none\"},\"model\":\"org.sunbird.analytics.exhaust.collection.UserInfoExhaustJob\",\"modelParams\":{\"store\":\"azure\",\"mode\":\"OnDemand\",\"batchFilters\":[\"TPD\"],\"searchFilter\":{}, \"sparkElasticsearchConnectionHost\":\"{{ sunbird_es_host }}\",\"sparkRedisConnectionHost\":\"{{ metadata2_redis_host }}\",\"sparkUserDbRedisIndex\":\"12\",\"sparkUserDbRedisPort\":\"{{ user_port }}\",\"sparkCassandraConnectionHost\":\"{{ core_cassandra_host }}\", \"fromDate\":\"$(date --date yesterday '+%Y-%m-%d')\",\"toDate\":\"$(date --date yesterday '+%Y-%m-%d')\"},\"parallelization\":8,\"appName\":\"UserInfo Exhaust\"}'
		;;
		"response-exhaust")
		echo '{\"search\":{\"type\":\"none\"},\"model\":\"org.sunbird.analytics.exhaust.collection.ResponseExhaustJob\",\"modelParams\":{\"store\":\"azure\",\"mode\":\"OnDemand\",\"batchFilters\":[\"TPD\"],\"searchFilter\":{}, \"sparkElasticsearchConnectionHost\":\"{{ sunbird_es_host }}\",\"sparkRedisConnectionHost\":\"{{ metadata2_redis_host }}\",\"sparkUserDbRedisIndex\":\"12\",\"sparkUserDbRedisPort\":\"{{ user_port }}\",\"sparkCassandraConnectionHost\":\"{{ core_cassandra_host }}\", \"fromDate\":\"$(date --date yesterday '+%Y-%m-%d')\",\"toDate\":\"$(date --date yesterday '+%Y-%m-%d')\"},\"parallelization\":8,\"appName\":\"Response Exhaust\"}'
		;;
		"progress-exhaust")
		echo '{\"search\":{\"type\":\"none\"},\"model\":\"org.sunbird.analytics.exhaust.collection.ProgressExhaustJob\",\"modelParams\":{\"store\":\"azure\",\"mode\":\"OnDemand\",\"batchFilters\":[\"TPD\"],\"searchFilter\":{}, \"sparkElasticsearchConnectionHost\":\"{{ sunbird_es_host }}\",\"sparkRedisConnectionHost\":\"{{ metadata2_redis_host }}\",\"sparkUserDbRedisIndex\":\"12\",\"sparkUserDbRedisPort\":\"{{ user_port }}\",\"sparkCassandraConnectionHost\":\"{{ core_cassandra_host }}\", \"fromDate\":\"$(date --date yesterday '+%Y-%m-%d')\",\"toDate\":\"$(date --date yesterday '+%Y-%m-%d')\"},\"parallelization\":8,\"appName\":\"Progress Exhaust\"}'
		;;
        "*")
		echo "Unknown model code"
      	exit 1 # Command to come out of the program with status 1
      	;;
	esac
}
