data_dir: public-data-aggregate
store_file_name: store.yml
initial_aggregate_date: 2016-07-17 #YYYY-MM-dd format
dataset_id: {dataset_id}
resource_id: {resource_id}
licence_key: {licensekey}
data_exhaust_api_endpoint: http://sandbox.ekstep.org/dev/api/v1/datasets
