{"dateRange":{"interval":{"startDate":"{{ report_start_date }}","endDate":"{{ report_end_date }}"},"granularity":"{{ dateRange.granularity | default('all') }}","intervalSlider":{{ dateRange.intervalSlider | default(0) | int }}}}
