-server
-Xms{{ druid_configs[cluster].druid_router_heap_size }}
-Xmx{{ druid_configs[cluster].druid_router_heap_size }}
-XX:+UseG1GC
-XX:+HeapDumpOnOutOfMemoryError
-XX:+PrintGCTimeStamps
-Xloggc:{{ druid_router_gc_logfile }}
-XX:HeapDumpPath={{ druid_router_heap_dump_file }}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir={{ druid_router_tmp_dir }}
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile={{ druid_path }}conf/druid/{{ service }}/log4j2.xml