-server
-Xms{{ druid_overlord_heap_size }}
-Xmx{{ druid_overlord_heap_size }}
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-Xloggc:{{ druid_overlord_gc_logfile }}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir={{ druid_overlord_tmp_dir }}
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog4j.configurationFile={{ druid_path }}conf/druid/{{ service }}/log4j2.xml
