[Unit]
Description=druid_{{druid_role}}_service
After=network.target

[Service]
ExecStart=/usr/bin/java `cat {{ druid_path }}/conf/druid/{{ druid_role }}/jvm.config | xargs` -cp {{ druid_path }}conf/druid/_common:{{ druid_path }}conf/druid/{{ druid_role }}:{{ druid_path }}/lib/* io.druid.cli.Main server {{ druid_role }}
Type=forking
Restart=always

[Install]
WantedBy=default.target
