---
# tasks file for sunbird-monitoring
- name: tempating variables
  template:
    src: "{{ item }}.yaml"
    dest: "/tmp/{{item}}.yaml"
  with_items: "{{ monitoring_stack }}"

- name: Creating sunbird data infra monitoring stack
  shell: "helm upgrade --install {{ item }} {{chart_path}}/{{ item }} --namespace monitoring -f /tmp/{{ item }}.yaml"
  with_items: "{{ monitoring_stack }}"
