{{- range $job_name, $job_config :=  .Values.secor_jobs }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-config
  namespace: {{ $.Values.secor_namespace }}
  labels:
    app: {{ $.Release.Name }}-config
    chart: {{ $.Chart.Name }}-{{ $.Chart.Version }}
    release: {{ $.Release.Name }}
    heritage: {{ $.Release.Service }}
data:
  secor.properties: |+
{{- (tpl ($.Files.Get "config/secor.properties") $) | nindent 4 }}
  secor.common.properties: |+
{{- (tpl ($.Files.Get "config/secor.common.properties") $) | nindent 4 }}
  secor.azure.properties: |+
{{- (tpl ($.Files.Get "config/secor.azure.properties") $) | nindent 4 }}
  secor.partition.properties: |+
{{- (tpl ($.Files.Get "config/secor.partition.properties") $) | nindent 4 }}
{{- end }}