###################### DP ############################
# Not used
metrics_search_params_bucket: "dev-data-store"
log4j_appender_kafka_topic: "{{env}}.telemetry.backend"

# Every where the value is telemetry-data-store
# Shall we change the value to telemetry-data-store in dev also?
# What's the implication
# Is it azure blob or s3 bucket??
channel_data_exhaust_bucket: dev-data-store


azure_account_name: "{{dp_azure_account_name}}"
azure_backup_storage_secret: "{{dp_vault_azure_backup_storage_secret}}"
secrets_path: '{{inventory_dir}}/secrets.yml'
artifacts_container: "{{dp_vault_artifacts_container}}"
artifacts_storage_account: "{{dp_azure_account_name}}"
artifact_storage_key: "{{dp_vault_azure_account_key}}"
azure_storage_secret: "{{dp_vault_azure_account_key}}"
#monasca_log_level: ERROR
resourcemanager: "{{ groups['yarn-master'][0] }}"
yarn_slaves: "{{ groups['yarn-slave']}}"
monitor_yarn_url: "http://{{ resourcemanager }}:8088/ws/v1/cluster/apps?states=RUNNING"


redis_host: "{{ groups['lp-redis'][0] }}"
searchServiceAuthorizationToken: "{{ dp_search_service_authorization_token }}"


# Learning Service organization and location search endpoints
channelSearchServiceEndpoint: "{{ proto}}://{{domain_name}}/api/org/v1/search"
locationSearchServiceEndpoint: "{{ proto}}://{{domain_name}}/api/data/v1/location/search"

__yarn_host__: "{{ groups['yarn-master'][0] }}"
search_service_endpoint: "{{proto}}://{{domain_name}}/api/search/v2/search"
yarn_es_hosts: "{{ groups['telemetry-search-cluster'] | join(',') }}"
env_name: "{{env}}"
kafka_brokers: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
zookeepers: "{{groups['zookeeper']|join(':2181,')}}:2181"
# Ingestion cluster
ingestion_zookeepers: "{{ groups['ingestion-cluster-zookeepers']|join(':2181,')}}:2181"



telemetry_schema_directory: /etc/{{env}}/telemetry
telemetry_schema_path: /etc/{{env}}/telemetry/schemas
schema_repo_url: https://github.com/project-sunbird/sunbird-data-pipeline.git
# Create learningall group with LP ips
cassandra_host:  "{{ groups['cassandra'][0] }}"
core_cassandra_host: "{{ groups['core-cassandra'][0] }}"
content_to_vec_url: http://{{ groups['analytics-api'][0] }}:9000/content-to-vec

kibana_base_path : "/pipeline-dashboard"

################ LPA ###########################

analytics_user: analytics
analytics_group: analytics
azure_storage_account: "{{dp_azure_account_name}}"
azure_storage_key: "{{dp_vault_azure_account_key}}"



analytics_user_home: /home/{{ analytics_user }}
sbin_path: "{{ analytics_user_home }}/sbin"


# Secor vars
secor:
  properties: ['secor.azure', 'secor.common', 'secor', 'secor.partition', 'log4j']
  artifact_dir: /mount/secor
  azure:
    account_name: "{{dp_azure_account_name}}"
    account_key: "{{ dp_vault_azure_account_key }}"
    container_name: "{{channel_data_exhaust_bucket}}"
  paths: ['/mount/secor', '/mount/secor/reports', '/mount/secor/logs', '/home/analytics/sbin', '/mount/data/analytics']
  channel: "{{secor_alerts_slack_channel}}"

# postgres
# list of databases to be created
# Can move this dictionary to postgres role; but incase we want to generalize roles!!
postgresql_databases:
  - name: analytics
    owner: analytics
    
postgresql_users:
  - name: analytics
    password: "{{dp_vault_pgdb_password}}"

postgres:
  db_url: "{{ groups['postgres'][0] }}"
  db_username: analytics
  db_name: analytics
  db_password: "{{dp_vault_pgdb_password}}"
  db_table_name: "{{env}}_consumer_channel_mapping"
  db_port: 5432
postgres_address_space: 0.0.0.0/0 # Postgres trust address space

lp_composite_search: "http://{{ groups['composite-search-cluster'][0] }}:9200" # Composite Cluster ip of LP
lp_search: "http://{{ groups['search'][0] }}:9000"
lp_url: http://{{ groups['learning'][0] }}:8080/learning-service
service:
  search:
    url: http://{{groups['search'][0]}}:9000
    path: /v3/search

cassandra_hierarchy_store_prefix: "{{env}}_"
data_exhaust_token: "{{dp_vault_data_exhaust_token}}"
default_channel: "{{default_org_hash_id}}"
