#!/usr/bin/env bash
#
set -x

home=`echo $HOME`
jobJarPath="{{ content_snapshot_jar_path }}/{{ content_snapshot_jar_name }}"
jobConfPath="{{ job_config.es_content_indexer_path }}"
today=$(date "+%Y-%m-%d")

echo "STARTED EXECUTING CONTENT CACHE INDEXER..."

nohup {{ spark_home }}/bin/spark-submit \
--conf spark.driver.extraJavaOptions="-Dconfig.file=${jobConfPath}" \
--class org.ekstep.analytics.jobs.ESRedisIndexer \
${jobJarPath} >> "{{ content_snapshot_path }}/logs/$today-task-execution.log" 2>&1
