#!/usr/bin/env bash

case "$script_name" in

   "USER CACHE INDEXER") 
      echo "Invoked RedisUserDataIndexer"
      nohup {{ content_snapshot_path }}scripts/RedisUserDataIndexer.sh & 
   ;;
   "DRUID CONTENT INDEXER")
      echo "Invoked DruidContentIndexer"
     nohup {{ content_snapshot_path }}scripts/DruidContentIndexer.sh &
   ;;

   "CONTENT CACHE INDEXER")  
      echo "Invoked RedisContentIndexer"
      nohup {{ content_snapshot_path }}scripts/RedisContentIndexer.sh &
   ;;
   "DIALCODE CACHE INDEXER") 
      echo "Invoked RedisDialcodeIndexer"
      nohup {{ content_snapshot_path }}scripts/RedisDialcodeIndexer.sh &
   ;;
esac