spark.cassandra.connection.host="{{ cassandra.host }}"
cassandra.keyspace="{{ cassandra.keyspace }}"
cassandra.deviceprofileOldTable="{{ cassandra.device_profile.old_table }}"
cassandra.deviceprofileNewTable="{{ cassandra.device_profile.new_table }}"
