# redis
redis.host="{{ redis.host }}"
redis.port="{{ redis.port }}"
redis.connection.max={{ redis.connection.max }}
redis.connection.idle.max={{ redis.connection.idle_max }}
redis.connection.idle.min={{ redis.connection.idle_min }}
redis.connection.minEvictableIdleTimeSeconds={{ redis.connection.min_evict_idle_seconds }}
redis.connection.timeBetweenEvictionRunsSeconds={{ redis.connection.time_evict_run_second }}
redis.max.pipeline.size="{{ redis.max_pipeline_size }}"

redis.dialcode.database.index=6

cloudStorage.accountName="{{ azure_storage_account }}"
cloudStorage.accountKey="{{ azure_storage_secret }}"
cloudStorage.container="{{ bucket }}"
cloudStorage.dialCodeDataFile="dialcode-data/dial_code.csv"