elasticsearch.host="{{ elastic_search.host }}"
elasticsearch.vdn.host="{{ elastic_search.vdn_host }}"
elasticsearch.port="{{ elastic_search.port }}"
elasticsearch.scroll.size="{{ elastic_search.scroll_size }}"
elasticsearch.query.index="{{ elastic_search.cloud.index }}"
elasticsearch.query.vdn.index="{{ elastic_search.cloud.vdn_index }}"
elasticsearch.query.jsonString={{ elastic_search.cloud.query }}
outputFilePath="{{ output_file_path }}"
outputVDNPath="{{ output_vdn_file_path }}"
cloudStorage.container="{{ cloud_storage.container }}"
cloudStorage.objectKey="{{ cloud_storage.object_key }}"
cloudStorage.vdn.objectKey="{{ cloud_storage.vdn_object_key }}"
cloudStorage.provider="{{ cloud_storage.provider }}"
cloudStorage.accountName="{{ cloud_storage.account_name }}"
cloudStorage.accountKey="{{ cloud_storage.account_key }}"