jar_path={{ }}
cassandra_redis_conf_path={{ }}
device_profile_conf_path={{ }}
es_cloud_uploader_conf_path={{ }}
es_content_indexer_conf_path={{ }}
es_dialcode_indxer_conf_path={{ }}
data_source={{}}
ingestion_spec_file_path={{}}
druid_co_ordinator_ip={{}}